acme==2.11.0
aiofiles==23.2.1
aiohttp==3.9.0b0
aiosignal==1.3.1
annotated-types==0.7.0
ansible==6.7.0
ansible-core==2.13.13
ansible-vault==2.1.0
anyio==4.4.0
argcomplete==3.5.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.3
black==23.7.0
bleach==6.1.0
blinker==1.8.2
certbot==2.11.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
ConfigArgParse==1.7
configobj==5.0.8
cryptography==42.0.0
Flask==3.0.3
Flask_Cors==4.0.1
Flask_Limiter==3.8.0
fuzzywuzzy==0.18.0
huggingface_hub==0.24.5
loguru==0.7.0
nox==2024.4.15
numpy==1.25.2
pandas==2.2.2
prompt_toolkit==3.0.47
psycopg2_binary==2.9.9
pydantic==1.10.17
PyJWT==2.9.0
PyJWT==2.9.0
pytest==8.2.2
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
Requests==2.32.3
rich==13.8.0
scalecodec==1.2.11
scikit_learn==1.4.2
setuptools==65.5.0
torch==2.2.0
Werkzeug==3.0.4
safetensors==0.4.0
ssdeep==3.4
azure-storage-blob==12.23.1