aiohttp==3.9.0b0
aiosqlite==0.20.0
async_timeout==4.0.3
azure_storage_blob==12.23.1
bittensor==6.9.4
cryptography==42.0.0
eth_utils==2.2.2
Flask==3.0.3
Flask_Cors==4.0.1
Flask_Limiter==3.8.0
fuzzywuzzy==0.18.0
huggingface_hub==0.24.5
joblib==1.4.2
loguru==0.7.0
numpy==1.25.2
pandas==2.2.3
prompt_toolkit==3.0.47
psycopg2_binary==2.9.9
pydantic==1.10.17
PyJWT==2.9.0
PyJWT==2.9.0
pytest==8.2.2
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
Requests==2.32.3
rich==13.9.4
scalecodec==1.2.11
scikit_learn==1.4.2
scipy==1.14.1
setuptools==65.5.0
ssdeep==3.4
torch==2.2.0
websocket_client==1.8.0
Werkzeug==3.1.3
